.top-menu {
  background: var(--black);
  color: red;
  color: black;


}
@ -13,6 +13,7 @@ search-box input{
search-box input: hover{
  cursor: pointer;
}

.search-line{
  border: .025rem solid gray;
 height: 30px;
@ -37,7 +38,15 @@ search-box input{
background: 10px solid goldenrod;
justify-content: space-between;
height: 70px;
border:1px solid red;
text-decoration: none;

}
.nav-link{
color: black;
text-decoration: none;
}
.nav-link:hover{
color:blue;
}
.small-logo-text{
font-size: 10px;
}